body {
    background-color: black;
}
// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   margin: auto;
//   width: 100%;
// }
.nav-bar {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 2% 4%;
}

#profile-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 5px;
    border-color: rgb(159, 165, 168);
    cursor: pointer;
    height: 32px;
    width: 67px; 
}

#profile-img {
    border-radius: 50%;
    height: 28px;
    width: 28px; 
}

.dropdown-lines p {
    height: 2px;
    background-color: black;
    margin: 2px 0;
}

.dropdown-lines {
    width: 15px; 
    margin: 0 0 0 11px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}