.body {
    background-color: white;
}

.white {
    background-color: white;
    transition: 0.5s;
}

.black {
    background-color: black;
    transition: 0.5s;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    color: white;
    // margin: 2% 4%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    gap: 15%;
}

#profile-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 7px;
    border: rgb(214, 211, 211) solid 1px;
    cursor: pointer;
    margin-top: 40%;
    // right: 10%;
    // margin-left: 30%;
}

#profile-img {
    border-radius: 50%;
    height: 28px;
    width: 28px; 
    margin-left: 10px;
}

.dropdown-lines p {
    height: 2px;
    background-color: black;
    margin: 2px 0;
}

.dropdown-lines {
    width: 15px; 
    margin: 0 0 0 11px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    cursor: pointer;
    // margin-left: 4%;
    margin-top: 2.5%;
}

#white {
    color: Red
}