#profile-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: 150px; 
    width: 230px; 
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}

#profile-menu button{
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

#profile-menu-container {
    position: absolute;
    right: 43px;
    top: 60px;
    z-index: 20;
}

#profile-menu-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: none;
  z-index: 10;
  display: block; 
}

#login {
    color: rgb(51, 51, 51);
    font-weight: 600;
}

.other_button {
    color: rgb(32, 32, 32);
    font-weight: 200;
}

.link {
    text-decoration: none;
    color: black;
}