.search {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 32px;
    // height: 66px; 
    // width: 800px;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: rgb(214, 211, 211) solid 1px;
    position: fixed;
    top: 2%;
    left: 30%; 
    margin-bottom: 2%;
}

.search-container {
    // display: flex;
    // justify-content: center;  
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#location-container, #checkin-container, #checkout-container, #guest-container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    text-align: left;
    border-radius: 30px;
}

.search-container label {
    font-weight: 600;
    font-size: 12px;
    padding-top: 10px;
    margin-left: 2px;
    font-family: inherit;
    color: black;
}
.search-container input {
    border: none;
    font-size: 14px; 
    font-weight: 300;
    color: #717171; 
    margin-bottom: 5px;
    font-family: inherit;
    outline: none;
}

#search-icon {
    // background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    background-color: #ff385c;
    border-radius: 50px;
    height: 48px;
    width: 48px;
    border: none;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600px, bold; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
#search-icon:hover{
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
}

#search-icon img{
   height: 18px; 
}

#search-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px;
}


