$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

.booking-listing-index {
    margin-top: 110px;
    // border: solid 1px red;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    box-sizing: border-box;
    height: calc(92vh - 110px);
}

.no-trip-container {
    // border: solid 1px blue;
    height: 100%;
}
.no-trip-container > h1 {
    // border: solid 1px blue;
    height: 8%; 
    font-size: 32px;
    font-weight: 500;
    font-family: $font;
    border-bottom: rgb(201, 200, 200) solid 1px;
}

.no-trip-info {
    height: 25%;
    // border: solid 1px red;
    font-family: $font;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    border-bottom: rgb(201, 200, 200) solid 1px;
    >h1 {
        // border: solid red 1px;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 1%;
    }
    >p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 1%;

    }
    >button {
        background-color: transparent;
        border-radius: 8px;
        font-size: 16px;
        padding: 0.85% 1.5%;
        font-weight: 500;
        border: solid 1.5px black;
    }
    >button:hover {
        background-color: rgb(248, 245, 245);
    }
}