$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

.edit-booking-container {
    height: 100vh;
    width: 100vw;
    // border: solid 1px black;
    display: flex;
    box-sizing: border-box;
}

.left-edit-booking , .right-edit-booking {
    height: 100%;
    box-sizing: border-box;
    // border: solid 1px blue;
}

.left-edit-booking {
    width: 17%;
    border-right: none;
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%);
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    >div {
        padding: 8%;
        >h1 {
            color:red;
            height: 7%;
        }
    }
    >div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 97%;
        >p {
            font-size: 18px;
            font-family: $font; 
            color: #222222; 
            font-weight: 500;
        }
    }
    >div:last-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
        gap: 5%;
        font-size: 14px;
        font-family: $font; 
        cursor: pointer;
        >p:first-child {
            font-size: 18px;
            font-family: $font; 
        }
    }
}

.right-edit-booking {
    width: 22%;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    >div {
        width: 85%;
        // margin: auto;
        // border: solid 1px b lue;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >p {
            font-size: 22px;
            font-weight: 500;
        }
        > div {
            width: 100%;
            height: 85%;
            border: solid 1px #dddddd;
            border-radius: 8px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            >div {
                width: 90%;
                margin: auto;
                border-bottom: solid 1px #dddddd;
                height: 33%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >p {
                    font-size: 16px;
                    font-weight: 300;
                }
                >h1 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            >div:last-child{
                border-bottom: none;
            }
        }
    }
}

.middle-edit-booking {
    height: 100%;
    width: 62%;
    box-sizing: border-box;
    // border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    font-family: $font;
    padding-top: 5%;
    >div:first-child {
        width: 55%;
        margin: auto;
        height: 92%;
        // border: solid 1px black;
        box-sizing: border-box;
        >h1 {
            font-size: 32px;
            font-weight: 600;
            height: fit-content;
            margin-bottom: 20px;
            // border: solid 1px black;
        }
        >h2 {
            // border: solid 1px blue;
            margin-top: 10%;
            height: 7%;
            font-size: 22px;
            font-weight: 500;
        }
    }
    >div:last-child {
        height: 8%; 
        width: 100%;
        box-sizing: border-box;
        // border: solid 1px red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 3%;
    }
}

 .edit-booking-change-label {
        font-size: 16px;
        font-weight: 500;
        height: 4%;
    }


.middle-edit-booking-about {
    font-size: 16px;
    font-weight: 300;
    color: #222222;
    // border: solid 1px black;
    height: 7%;
    line-height: 1.5;
    margin-bottom: 10px;
}

.edit-booking-details {
    border: solid 1px #dddddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    height: 15%;
    width: 100%;
    >img {
        height: 100%;
        width: 20%;
        object-fit: cover;
        border-radius: 8px;
    }
    >div {
        width: 75%;
        // border: solid 1px black;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8%;
        >p {
            font-size: 16px;
            font-weight: 500;
        }
        >div {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.check-in-out {
    border: solid 1px #dddddd;
    display: flex;
    justify-content: space-between;
    height: 7%;
    border-radius: 8px;
    width: 100%;
    padding: 1.5%;
    box-sizing: border-box;
    margin-bottom: 5%;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 49%;
        height: 100%;
        // border: solid 1px blue;
        >label {
            font-size: 12px;
            font-weight: 300;
        }
        >input {
            height: 100%;
            border: none;
            outline: none;
        }
    }
    >div:first-child {
        border-right: solid 1px #dddddd;
        padding-right: 1%;
        box-sizing: border-box;
    }
}

.guest-options-booking-edit {
    border: solid 1px #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    border-radius: 8px;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    margin-bottom: 5%;
    position: relative; 
    > p {
        font-size: 16px;
        font-weight: 300;
    }
}

.change-guests-edit {
    position: absolute;
    top: 150%;
    left: 0;
    height: fit-content;
    width: 100%;
    border-radius: 8px;
    border: solid #dddddd 1px;
    padding: 3%;
    box-sizing: border-box;
    background-color: white;
    >div {
        margin-bottom: 5%;
    }
}


.non-active-request {
    width: fit-content;
    height: fit-content;
    padding: 0.75% 1%;
    border-radius: 8px;
    background-color: #222222;
    color: white;
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    border: none;
}

.non-active-request:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.edit-booking-guest-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    >p {
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
    }
    >h1 {
        background-color: black;
        border: none;
        color: white;
        padding: 2.5% 4%;
        font-family: $font;
        font-size: 16px;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
    }
}

#edit-booking {
    padding-bottom: 3%;
    border-bottom: solid 1px #dddddd;
}

