$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

.footer {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20%;
    position: sticky;
    bottom: 0;
    background-color: rgb(241, 239, 239);
    z-index: 10;
}

.footer h3 {
    font-family: $font;
    font-size: 14px; 
    font-weight: 600;
    margin: 10px;
    margin-top: 20px;
}

.footer p {
    font-family: $font;
    font-size: 14px; 
    font-weight: 400;
    margin: 10px; 
}

.footer p:last-child {
    margin-bottom: 50px;
}

#contact {
    margin-left: 90px;
}

#languages {
    margin-right: 120px;
}