$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

.map {
    height: 100%;
    width: 100%;
}

.map-container {
    position: fixed;
    top: 100px;
    right: 0;
    margin-left: 100px;
    height: 100%;
    width: 49.5%;
}

.map-listing-index {
    height: fit-content;
    width: 50%;
    margin-left: 30px;
    margin-right: 20px;

}


.map-index  {
    display: flex;
    justify-content: space-between;
    height: 89vh;
    width: 100vw;
    margin-top: 100px;
}

.map-listing-image {
    height: 20vh;
    width: 18vw;
    object-fit: cover;
    border-radius: 8px;
}

#listing-index-item-border {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 95%;
}

.map-listing-index-item {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: #717171;
    // border: black 1px solid;
    width: 95%;
    height: 20vh;
}

.map-index-info {
    font-family: $font;
}

.map-index-title {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 29vw;
    color: #717171;
    // border: black solid 1px;
}

.outline-heart {
    font-size: 30px;
    // color: #ff385c;
    color: black;
    font-weight: 300;
    padding: 2%;
    border-radius: 50%;
}

.outline-heart:hover, .red-heart:hover {
    cursor: pointer;
    background-color: #f1eeee;
}

.red-heart {
    font-size: 30px;
    color: #ff385c;
    padding: 2%;
    border-radius: 50%;
}

.map-title {
    font-size: 18px;
    font-weight: 300;
    color: black;
}


#short-border-line {
    width: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.map-floor-plan {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    font-weight: 300;
    flex-wrap: wrap;
}

.bottom-map-index {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // border: 1px solid red;
    width: 28vw;
    height: 55%;
}

.map-reviews {
    display: flex;
    justify-content: flex-start;
}

.map-reviews-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
}

.lower-bottom-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    // margin-top: 31.5%;
}

#map-index-star {
    font-size: 14px;
}

.map-review-num {
    font-size: 13px;
    color: black;
    font-weight: 600;
}

.map-reviews-container > p {
    font-size: 13px;
}

.map-price-night {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    color: black;
    font-weight: 300;
}

.map-price-night > p:first-child {
    font-weight: 600;
}

