$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

.map {
    height: 100%;
    width: 100%;
}

.map-container {
    position: fixed;
    top: 100px;
    right: 0;
    margin-left: 100px;
    height: 100%;
    width: 49.5%;
}

.listing-index-map {
    height: 100%;
    width: 100%;
    padding: none;
    margin: none;
}

.listing-index-map-container {
    height: 100%;
    width: 49%;
    // border: solid 1px black;
    padding: none;
}

.map-listing-index {
    height: 100%;
    overflow: scroll;
    width: 49%;
    padding-left: 3%;
    box-sizing: border-box;
    // border: solid 1px blue;
}


.map-index  {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 110px);
    width: 100vw;
    margin-top: 100px;
    // border: solid 1px red; 
}

.map-listing-image-container {
    height: 20vh;
    width: 40%;
    // border: solid 1px orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-listing-image {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    // border: solid 1px purple;
}

#listing-index-item-border {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 95%;
}

.map-listing-index-item {
    display: flex;
    justify-content: space-between;
    // gap: 20px;
    color: #717171;
    border-bottom: #dddddd 1px solid;
    // border: solid 1px black;
    width: 95%;
    height: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
}

.top-map-index{
    // border: solid 1px blue;
    width: 100%;
    height: 50%;
}

.map-index-link {
    text-decoration: none;
}

.map-index-info {
    font-family: $font;
    // border: solid 1px black;
    width: 58%;
    // height: fit-content;
    margin-bottom: 15px;
}

.map-index-title {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #717171;
    // border: black solid 1px;
}

.outline-heart {
    font-size: 30px;
    // color: #ff385c;
    color: black;
    font-weight: 300;
    padding: 2%;
    border-radius: 50%;
}

.outline-heart:hover, .red-heart:hover {
    cursor: pointer;
    background-color: #f1eeee;
}

.red-heart {
    font-size: 30px;
    color: #ff385c;
    padding: 2%;
    border-radius: 50%;
}

.map-title {
    font-size: 18px;
    font-weight: 300;
    color: black;
}


#short-border-line {
    width: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.map-floor-plan {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    font-weight: 300;
    flex-wrap: wrap;
}

.bottom-map-index {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // border: 1px solid red;
    width: 100%;
    height: 50%;
}

.map-reviews {
    display: flex;
    justify-content: flex-start;
}

.map-reviews-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    // border: solid 1px black;
    width: 50%;

}

.lower-bottom-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    width: 98%;
    // margin-top: 31.5%;
}

#map-index-star {
    font-size: 14px;
}

.map-review-num {
    font-size: 13px;
    color: black;
    font-weight: 600;
}

.map-reviews-container > p {
    font-size: 13px;
}

.map-price-night {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    color: black;
    font-weight: 300;
    //  border: solid 1px black;
     width: 50%; 
}

.map-price-night > p:first-child {
    font-weight: 600;
}

