$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

.map {
    // position: fixed;
    // top: 100px;
    // right: 0;
    height: 100%;
    width: 100%;
    // z-index: 20;

}

.map-container {
    position: fixed;
    top: 100px;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 5;

    // margin-top: 20px;
}

.map-listing-index {
    height: fit-content;
    width: 50%;
    margin-left: 30px;
    // border: solid red 1px;
    // margin-top: 100px;
}


.map-index  {
    display: flex;
    justify-content: space-between;
    height: 89vh;
    width: 100vw;
    // border: black solid 1px;
    margin-top: 100px;
}

.map-listing-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
}

#listing-index-item-border {
    margin-bottom: 20px;
    margin-top: 20px;
}

.map-listing-index-item {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.map-index-info {
    font-family: $font;
}

.map-index-title {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    color: #717171;
}

#heart {
    font-size: 22px;
}

.map-title {
    font-size: 18px;
    font-weight: 300;
}

