 #signup-form {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    height: 500px;
    width: 500px; 
    border-radius: 12px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7%;
 }

#signup-form h3 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid rgb(231, 229, 229);
    height: 8%; 
    width: 100%;
    text-align: center;
    vertical-align: center;
    // position: absolute;
    margin-top: 4%;
}

.input-field {
    border-radius: 8px; 
    border: rgb(150, 149, 149) solid 1px;
    color: rgb(141, 138, 138);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.input-field label {
    margin: 7px 0 auto 7px;
    // margin-top: 10px; 
    // display: none;
}

.input-field input {
    margin: 0 0 5px 5px;
    border: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    outline: none;
}

#signup-form button:hover {
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
}

#signup-form button {
    background-color: #ff385c; 
    border: none;
    border-radius: 8px;
    width: 90%;
    height: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;

}


// .demo-user-button {
//     margin-bottom: 30px;
//     border-radius: 8px;
//     width: 90%;
//     height: 90px;
//     border-color: lightgray;
//     border-style: solid;
//     background: none;
//     font-family: 'Roboto', sans-serif;
//     font-weight: 400;
//     color: rgb(54, 54, 54);

// }

// #email-form p {
//     margin-bottom: 20px;
//     font-family: 'Roboto', sans-serif;
//     font-size: 15px;
//     font-weight: 300;
//     color: rgb(54, 54, 54);
// }