$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

#splash-image {
    display: flex;
    height: 100%;
    width: 90%; 
    align-items: center;
    top: 20%;
}

#splash-image-container {
    margin: 25px;
    display: flex;
    justify-content: center;
    resize: 50%;
}

#splash-container {
    position: relative;
    text-align: center;
    max-width: 100%;
    background-color: black;
}

#splash-text {
    position: absolute;
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    left: 30%; 
    top: 62%; 
}

.flexible-button {
    border-radius: 28px;
    border: none;
    width: 150px;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 45%; 
    top: 70%;
    cursor: pointer;
}

.flexible-button:hover {
    background-color: rgb(243, 241, 241);
}

#text {
    font-size: 18px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    position: absolute;
    left: 19%; 
    top: 31%;
    font-weight: 700;
    background: linear-gradient(
        90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%); 
    background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.inspo-container {
    width: 100%; 
    height: 100%; 
    background-color: white;
}

.inspo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // margin: 100px;
    font-family: $font;
}

.inspo h2 {
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 500;
}

.inspo-cities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // margin: 10px 5px 10px 5px; 
    width: 90%;
    height: 90%;
    gap: 25px;
    margin-left: 80px;
    margin-top: 20px;
}

.inspo-city {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 21vw; 
    height: 50vh;
    // background-color: red;
    border-radius: 15px;
}

.inspo-city img {
    height: 50%; 
    width: 100%;
    border-radius: 15px 15px 0 0; 
    object-fit: cover;
}

.inspo-city p {
    color: white; 
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 100px;
    font-family: $font;
    font-size: 33px;
    font-weight: 500;

}

.city-one {
    background-color: rgb(204, 45, 74);
}
.city-two {
    background-color: rgb(188, 26, 110);
}
.city-three {
    background-color: rgb(222, 49, 81);
}
.city-four {
    background-color: rgb(217, 59, 48);
}
