#splash-image {
    display: flex;
    height: 750px;
    width: 90%; 
    align-items: center;
}

#splash-container {
    margin: 25px;
    display: flex;
    justify-content: center;
    resize: 50%;
}